<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="year" value="test"/>
        <add key="bank" value="3"/>
        <add key="flag" value="false"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>