<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="NumberBanks" value="62"/>
        <add key="NumberBanks64" value="2"/>
        <add key="NumberBanks128" value="6"/>
        <add key="NumberBanks256" value="14"/>
        <add key="NumberBanks512" value="30"/>
        <add key="NumberBanks1024" value="62"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>